<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PagePal -NOT EXISTS </title>
  	<link rel="icon" type="images/x-icon" href="{{  url_for( "static" , filename='pictures/favicon.ico' )  }}" />
  <style>
    body {
      background-image: url("../static/pictures/background-image.avif");
      background-repeat: space;
      background-size: 1%;
      margin : 50px ;
    }
  </style>
 
</head>
	<body>
    <h2> We are<strong style="color: brown;" >Working</strong> on this  </h2>

	</body>
</html>
